#map-container {
    position: relative;
    width: 100%;
    /* Hauteur = écran total - hauteur réelle du header */
    height: calc(100vh - 80px); /* 80px = padding haut + bas du header */
}

#map {
    width: 100%;
    height: 100%;
    z-index: 1;
}
